In [5]:
import pandas as pd
from datetime import datetime

In [36]:
df = pd.period_range(start='2023-01-01', end='2025-01-01').to_frame(index=False).rename({0:"date"},axis=1)

In [37]:
df

           date
0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
..          ...
727  2024-12-28
728  2024-12-29
729  2024-12-30
730  2024-12-31
731  2025-01-01

[732 rows x 1 columns]